@font-face {
    font-family: 'Segoe WP Bold';
    src: url('segoe-wp_856.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('Lucida Sans Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Asap';
    src: url('Asap-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('SegoeUI-Light.eot');
	src: local('Segoe UI Light'), local('SegoeUI-Light'),
		url('SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
		url('SegoeUI-Light.woff') format('woff'),
		url('SegoeUI-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: 'PTSans';
    src: url('PTSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans Narrow Bold';
    src: url('PTSans_Narrow_Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe WP';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe WP'), url('SegoeWP.woff') format('woff');
    }

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}