body {
    font-family: "Roboto", sans-serif;
}

.header_wrapper {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 5px solid #000000;
}

.photo_wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.photo_wrapper--photo {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%,-50%);
}

.information--name {
    font-weight: bold;
    font-size: 2.5em;
}

.information--github,
.information--social_link {
    color: #000000;
    font-size: 1.5em;
    line-height: 2em;
}

.information--github:hover,
.information--social_link:hover {
    color: #9f6650;
    border-bottom: 2px solid #9f6650;
}

.information--social_item {
    display: inline-block;
}

.information--social_item:nth-child(2)::before,
.information--social_item:nth-child(2)::after {
    content: "|";
    font-size: 1.5rem;
    margin: 0 0.5em;
}

.education_wrapper {
    width: 65%;
    margin: 0 auto;
    border-bottom: 5px solid #000000;
}
.education_wrapper--title_wrapper {
    border-bottom: 2px solid #000000;
    cursor: pointer;
}

.education_wrapper--title {
    font-size: 2.5em;
    display: inline-block;
    margin: 0;
}

.education_wrapper--button {
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
    cursor: pointer;
}

.education_wrapper--arrow {
    width: 2.5em;
    height: 2.5em;
    position: relative;
    top: 10px;
}

.education_wrapper--list {
    display: none;
    list-style: none;
}

.education_wrapper--item {
    font-size: 1.7em;
    margin-bottom: 0.8em;
}

.education_wrapper--years {
    display: block;
}

.slider_wrapper {
    width: 65%;
    margin: 0 auto;
    position: relative;
    /*top: 50%;*/
    /*left:50%;*/
    /*transform: translate(-50%, -50%);*/
}

.slider_wrapper--slide {
    display: flex;
    justify-content: space-between;
    animation: 0.5s ease-in-out;
}

.slider_wrapper--task_name {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.slider_wrapper--list {
    list-style-type: circle;
    margin-left: 30px;
}

.slider_wrapper--list_item {
    font-size: 1.5em;
}

.slider_wrapper--right_arrow,
.slider_wrapper--left_arrow {
    width: 60px;
}

.slider_wrapper--left_arrow_wrapper,
.slider_wrapper--right_arrow_wrapper {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.slider_wrapper--left_arrow_wrapper {
    left: -10%;
}

.slider_wrapper--right_arrow_wrapper {
    right: -10%;
}

.slider_wrapper--slide {
    display: none;
    position: relative;
    margin: 0 auto;
}

.slider_wrapper--slide-active,
.slider_wrapper--slide-next {
    display: flex;
}

.slider_wrapper--slide-next {
    position: absolute;
    top: 0;
    width: 100%;
}

.slider_wrapper--slide_container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}